#!/bin/bash
echo "foo" >> /Users/supermoonie/Desktop/b.txt
exec /Applications/proxy-fx.app/Contents/PlugIns/jre/Contents/Home/bin/java -jar /Applications/proxy-fx.app/Contents/Resources/Java/proxy-fx-1.0-SNAPSHOT-runnable.jar