<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.supermoonie.proxy.swing.mapper.CertificateMapMapper">

    <resultMap type="com.github.supermoonie.proxy.swing.entity.CertificateMap" id="CertificateMapMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="certificateSerialNumber" column="certificate_serial_number" jdbcType="VARCHAR"/>
        <result property="requestId" column="request_id" jdbcType="VARCHAR"/>
        <result property="responseId" column="response_id" jdbcType="VARCHAR"/>
        <result property="timeCreated" column="time_created" jdbcType="VARCHAR"
                typeHandler="com.github.supermoonie.proxy.swing.db.TextDateTypeHandler"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CertificateMapMap">
        select id,
               certificate_serial_number,
               request_id,
               response_id,
               time_created
        from certificate_map
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CertificateMapMap">
        select id,
               certificate_serial_number,
               request_id,
               response_id,
               time_created
        from certificate_map
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CertificateMapMap">
        select
        id, certificate_serial_number, request_id, response_id, time_created
        from certificate_map
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="certificateSerialNumber != null and certificateSerialNumber != ''">
                and certificate_serial_number = #{certificateSerialNumber}
            </if>
            <if test="requestId != null and requestId != ''">
                and request_id = #{requestId}
            </if>
            <if test="responseId != null and responseId != ''">
                and response_id = #{responseId}
            </if>
            <if test="timeCreated != null">
                and time_created = #{timeCreated}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into certificate_map(certificate_serial_number, request_id, response_id, time_created)
        values (#{certificateSerialNumber}, #{requestId}, #{responseId}, #{timeCreated})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update certificate_map
        <set>
            <if test="certificateSerialNumber != null and certificateSerialNumber != ''">
                certificate_serial_number = #{certificateSerialNumber},
            </if>
            <if test="requestId != null and requestId != ''">
                request_id = #{requestId},
            </if>
            <if test="responseId != null and responseId != ''">
                response_id = #{responseId},
            </if>
            <if test="timeCreated != null">
                time_created = #{timeCreated},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from certificate_map
        where id = #{id}
    </delete>

</mapper>