<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.supermoonie.proxy.swing.mapper.ResponseMapper">

    <resultMap type="com.github.supermoonie.proxy.swing.entity.Response" id="ResponseMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="requestId" column="request_id" jdbcType="VARCHAR"/>
        <result property="httpVersion" column="http_version" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="contentType" column="content_type" jdbcType="VARCHAR"/>
        <result property="contentId" column="content_id" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="INTEGER"/>
        <result property="endTime" column="end_time" jdbcType="INTEGER"/>
        <result property="size" column="size" jdbcType="INTEGER"/>
        <result property="timeCreated" column="time_created" jdbcType="VARCHAR"
                typeHandler="com.github.supermoonie.proxy.swing.db.TextDateTypeHandler"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ResponseMap">
        select id,
               request_id,
               http_version,
               status,
               content_type,
               content_id,
               start_time,
               end_time,
               size,
               time_created
        from response
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ResponseMap">
        select id,
               request_id,
               http_version,
               status,
               content_type,
               content_id,
               start_time,
               end_time,
               size,
               time_created
        from response
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ResponseMap">
        select
        id, request_id, http_version, status, content_type, content_id, start_time, end_time, size, time_created
        from response
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="requestId != null and requestId != ''">
                and request_id = #{requestId}
            </if>
            <if test="httpVersion != null and httpVersion != ''">
                and http_version = #{httpVersion}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="contentType != null and contentType != ''">
                and content_type = #{contentType}
            </if>
            <if test="contentId != null and contentId != ''">
                and content_id = #{contentId}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime}
            </if>
            <if test="size != null">
                and size = #{size}
            </if>
            <if test="timeCreated != null">
                and time_created = #{timeCreated}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into response(id, request_id, http_version, status, content_type, content_id, start_time, end_time,
                                  size)
        values (#{id}, #{requestId}, #{httpVersion}, #{status}, #{contentType}, #{contentId}, #{startTime}, #{endTime},
                #{size})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update response
        <set>
            <if test="requestId != null and requestId != ''">
                request_id = #{requestId},
            </if>
            <if test="httpVersion != null and httpVersion != ''">
                http_version = #{httpVersion},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="contentType != null and contentType != ''">
                content_type = #{contentType},
            </if>
            <if test="contentId != null and contentId != ''">
                content_id = #{contentId},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="size != null">
                size = #{size},
            </if>
            <if test="timeCreated != null">
                time_created = #{timeCreated},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from response
        where id = #{id}
    </delete>

</mapper>