<html lang="zh-CN">
<head>
    <title>mitmproxy4J</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vue@2.6.11.js"></script>
    <script src="js/element-ui@2.13.2.js"></script>
    <script src="js/axios.min.js"></script>
    <style>
        #menu {
            border: 1px solid #ccc;
            background: #eee;
            position: absolute;
            width: 100px;
            height: 120px;
            display: none;
            z-index: 999999999;
        }
        [v-cloak] {
            display: none;
        }
    </style>
    <script>
        window.onload = function () {
            let menu = document.getElementById('menu');
            document.onclick = function(){
                menu.style.display = 'none';
            }
        }
    </script>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="#">分享</a></li>
        <li><a href="#">收藏</a></li>
        <li><a href="#">举报</a></li>
    </ul>
</div>
<div id="main">
    <!--header开始-->
    <div class="p-header">
        <div class="p-menus p-border-bottom">
            <el-menu v-cloak :default-active="activeIndex" class="p-menu" menu-trigger="hover" mode="horizontal" @select="handleSelect">
                <el-submenu index="1">
                    <template slot="title">File</template>
                    <el-menu-item index="1-1">Open...</el-menu-item>
                    <el-menu-item index="1-2">Save...</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">Proxy</template>
                    <el-menu-item index="2-1">Start Record...</el-menu-item>
                    <el-menu-item index="2-2">Start Throttling...</el-menu-item>
                    <el-menu-item index="2-3">Open Windows Proxy</el-menu-item>
                    <el-menu-item index="2-4">Proxy Settings...</el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">Tools</template>
                    <el-menu-item index="3-1">Map Remote...</el-menu-item>
                    <el-menu-item index="3-2">Map Local...</el-menu-item>
                    <el-menu-item index="3-3">Black List...</el-menu-item>
                    <el-menu-item index="3-4">White List...</el-menu-item>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title">Help</template>
                    <el-menu-item index="4-1">Download Root Certificate</el-menu-item>
                    <el-menu-item index="4-2">Check For Update</el-menu-item>
                    <el-menu-item index="4-3">About mitmproxy4J</el-menu-item>
                </el-submenu>
            </el-menu>
        </div>
        <div class="p-tools p-border-bottom">
            <div class="p-tool">
                <i class="el-icon-delete p-icon"></i>
            </div>
        </div>
    </div>
    <!--header结束-->

    <!--aside & main 开始-->
    <div class="p-container">
        <div class="p-container-inner">
            <!--aside 开始-->
            <div class="p-aside" id="p-aside">
                <div class="p-search p-border-bottom">
                    <span class="p-filter">Filter:</span>
                    <el-input class="p-url-filter" v-model="urlFilter"></el-input>
                </div>
                <div class="p-list-container">
                    <ul class="p-list" id="p-url-list">
                        <li v-cloak v-for="flow in flows" :key="flow.request.id">
                            <el-link :underline="false" :title="flow.request.uri"
                                     :class="{'p-url-active': currentFlowId == flow.request.id}"
                                     v-on:click="handleUrlClicked(flow.request.id, flow, $event)">
                                {{ flow.request.uri }}
                            </el-link>
                        </li>
                    </ul>
                </div>
            </div>
            <!--aside 结束-->
            <el-divider id="p-resize-controller" class="p-divider" direction="vertical"></el-divider>
            <!--main 开始-->
            <div class="p-main" id="p-main">
                <el-tabs v-model="activeName" class="p-tabs">
                    <!--overview 开始-->
                    <el-tab-pane label="Overview" name="Overview">
                        <el-table :data="currentOverview"
                                  border="true"
                                  stripe
                                  fit="true"
                                  :show-header="false" :row-class-name="overviewRowClassName">
                            <el-table-column
                                    prop="name"
                                    label="Name"
                                    width="200">
                            </el-table-column>
                            <el-table-column
                                    prop="value"
                                    label="Value">
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <!--overview 结束-->

                    <!--request 开始-->
                    <el-tab-pane label="Request" name="Request">
                        <el-tabs :tab-position="contentsTabPosition">
                            <el-tab-pane label="Headers">
                                <el-table :data="currentRequestHeaders"
                                          border="true"
                                          stripe
                                          fit="true">
                                    <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="Value">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Query String">
                                <el-table :data="currentRequestQueryString"
                                          border="true"
                                          stripe
                                          fit="true">
                                    <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="Value">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Cookies">
                                <el-table :data="currentRequestCookies"
                                          border="true"
                                          stripe
                                          fit="true">
                                    <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="Value">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Raw">Raw</el-tab-pane>
                        </el-tabs>
                    </el-tab-pane>
                    <!--request 结束-->

                    <!--response 开始-->
                    <el-tab-pane label="Response" name="Response">
                        <el-tabs :tab-position="contentsTabPosition">
                            <el-tab-pane label="Headers">
                                <el-table :data="currentResponseHeaders"
                                          border="true"
                                          stripe
                                          fit="true">
                                    <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="Value">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Cookies">
                                <el-table :data="currentResponseCookies"
                                          border="true"
                                          stripe
                                          fit="true">
                                    <el-table-column
                                            prop="name"
                                            label="Name"
                                            width="200">
                                    </el-table-column>
                                    <el-table-column
                                            prop="value"
                                            label="Value">
                                    </el-table-column>
                                    <el-table-column
                                            prop="path"
                                            label="Path">
                                    </el-table-column>
                                    <el-table-column
                                            prop="Max-Age"
                                            label="Max-Age">
                                    </el-table-column>
                                    <el-table-column
                                            prop="HTTPOnly"
                                            label="HttpOnly">
                                    </el-table-column>
                                    <el-table-column
                                            prop="secure"
                                            label="Secure">
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane label="Raw">Raw</el-tab-pane>
                        </el-tabs>
                    </el-tab-pane>
                    <!--response 结束-->
                </el-tabs>
            </div>
            <!--main 结束-->
        </div>
    </div>
    <!--aside & main 结束-->

</div>
</body>
<script type="application/javascript" src="js/main.js"></script>
</html>